/* GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=Asap:400);
@import url(http://fonts.googleapis.com/css?family=Asap:400italic);
@import url(http://fonts.googleapis.com/css?family=Asap:700);
@import url(http://fonts.googleapis.com/css?family=Asap:700italic);


/* Global properties ======================================================== */
a[href^="tel:"] { color: inherit; text-decoration: none;}
::selection{ background:#888888!important; color:#fff}
::-moz-selection{ background:#888888!important; color:#fff}

a{ color:#ad4c22; text-decoration: underline; outline:none}
a:hover{ color:#ad4c22; text-decoration: none; outline:none}

body{ background:url(../images/water_background2.jpg) 0 0 repeat #9f8c6e; border:0; font: 13px Arial, Helvetica, sans-serif; color:#1f1812 ; line-height:20px; min-width:320px;}

#main{margin: 0 auto; position: relative;}




/* ============================= header ====================== */
.top1{}

header{float: left; padding-top: 20px; padding-bottom: 15px;}

.phone1{float: right; position: relative; display: inline-block; padding-top: 15px; margin-bottom: 10px; }
.phone1 .txt1{background: white; line-height: 20px; color: #fe0000; font-family: 'Asap'; font-weight: 700; font-style: italic; font-size: 20px; padding: 20px;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.phone1 .txt1 span{font-size: 30px;}
.phone1 .over1{position: absolute; left: 10px; right: 3px; bottom: -11px; height: 11px;}

.top2{height: 54px; padding-top: 2px; background: #000080;position: relative; z-index: 30;}

.top3{background: url(../images/water_background2.jpg) 0 0 repeat; padding-top: 20px; padding-bottom: 20px;}

#slider_wrapper{position: relative;}
#slider{position: relative;}
#slider .sh1{width: 100%; height: 8px; position: absolute; left: 0; bottom: -8px; z-index: 1;}

.banners{}
.banners .banner_inner{position: relative;}
.banners .banner_inner .sh1{width: 100%; height: 8px; position: absolute; left: 0; bottom: -8px; z-index: 1;}
.banners .banner_inner a{display: block; text-decoration: none; height: 220px; position: relative; overflow: hidden;}
.banners .banner_inner a .txt{width: 160px; position: absolute; left: 30px; top: 30px; z-index: 2;}
.banners .banner_inner a .txt .txt1{font-family: 'Asap'; font-weight: 700; font-size: 20px; line-height: 24px; color: #f9f1e7; padding-bottom: 10px;}
.banners .banner_inner a .txt .txt2{font-size: 12px; line-height: 18px; color: #fff;}
.banners .banner_inner a .img{position: absolute;right: 0; bottom: 0;}
.banners .banner_inner a .txt3{padding-top: 25px; padding-right: 5px; width: 95px; height: 33px; background: url(../images/banners_txt3.png) 0 0 no-repeat; text-align: right; font-family: 'Asap'; font-size: 12px; font-weight: 700; color: #ecd9b3; line-height: 12px; text-transform: uppercase; position: absolute; right: -100px; bottom: -58px; z-index: 3;opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banners .banner_inner a:hover .txt3{opacity: 1; filter: alpha(opacity=100); right: -1px; bottom: -1px;}

.banners .banner1 .banner_inner a{background: url(../images/banner1_bg.jpg);}
.banners .banner2 .banner_inner a{background: url(../images/banner2_bg.jpg);}
.banners .banner3 .banner_inner a{background: url(../images/banner3_bg.jpg);}
.banners .banner4 .banner_inner a{background: url(../images/banner4_bg.jpg);}

.main .banners .banner1{padding-bottom: 20px;}

.top4{background: url(../images/px4.jpg) center bottom no-repeat #1f1812;}

.slogan1{padding: 30px 0;}

.slogan1 .block1{position: relative;}
.slogan1 .block1 .txt1{font-family: 'Asap'; font-weight: 700; font-size: 22px; line-height: 26px; color: #e9ded0; padding-top: 12px; padding-bottom: 13px;}

.slogan1 .block2{position: relative;}

.button1{display: block; text-decoration: none; height: 77px;line-height: 77px; text-align: center; padding: 0 0px; background: #ad4c22; font-family: 'Asap'; font-weight: 700; font-size: 22px; color: #ffc642; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.button1:hover{background: #d87f00; color: #fff;}

.banners2{padding-top: 40px;}
.banners2 .banner{padding-bottom: 20px;}
.banners2 .banner_inner{position: relative;}
.banners2 .banner_inner a{display: block; text-decoration: none; position: relative; text-align: center; background: #f9f4ee; border-bottom: 5px solid #d7c8b5; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding: 0 30px 30px}
.banners2 .banner_inner a:hover{border-color: #d87f00;}
.banners2 .banner_inner a .img{display: inline-block; background: #ad4c22; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; margin-top: -40px;}
.banners2 .banner_inner a:hover .img{background: #d87f00;}
.banners2 .banner_inner a .txt1{font-family: 'Asap'; font-weight: 700; font-style: italic; font-size: 22px; line-height: 24px; color: #ad4c22; padding-bottom: 10px; padding-top: 20px;}
.banners2 .banner_inner a:hover .txt1{color: #d87f00;}
.banners2 .banner_inner a .txt2{font-size: 13px; line-height: 18px; color: #7c6e62;}
.banners2 .banner_inner a:hover .txt2{color: #1f1812;}




/* ============================= content ====================== */
#content{background: #B4C5E4; padding-top: 30px; padding-bottom: 30px;}

/* ============================= footer ====================== */
.bot1{padding: 40px 0;}
.bot1 .bot1_block1{}
.bot1 .bot1_block1 .txt1{font-family: 'Asap'; font-weight: 700; font-size: 24px; line-height: 26px; text-transform: uppercase; color: #534238; padding-bottom: 15px;}

/* ============================= slider3 ====================== */
#slider3_wrapper{padding:50px 0; background: #fff;}
#slider3{position: relative;}

.prev3{display: block; width: 32px; height: 32px; background: url(../images/prev3.png) left top no-repeat; float: left;}
.prev3:hover{background-position: bottom;}
.next3{display: block; width: 32px; height: 32px; background: url(../images/next3.png) left top no-repeat; float: left; margin-left: 4px;}
.next3:hover{background-position: bottom;}

.slider3-title{font-family: 'Julius Sans One'; font-weight: 400; font-size: 30px; line-height: 30px; color: #2a2a2a; text-transform: uppercase; padding-bottom: 50px; text-align: center;}
.carousel-box{position: relative;}
.carousel-box .inner{position: relative; overflow: hidden;}
.carousel.main{position: relative; overflow: hidden; width: 800px; margin: 0; padding: 0;}
.caroufredsel_wrapper{padding: 0; margin: 0;}
.caroufredsel_wrapper ul{padding: 0; margin: 0;}
.carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:20px }

.testimonial1{margin-bottom: 0px;}
.testimonial1 .txt1{background: url(../images/testimonial1.png) 15px 15px no-repeat #2c241e; padding:20px 20px 20px 50px; line-height: 20px; font-style: italic; color: #cfbfaf; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.testimonial1 .txt2{padding-left: 10px; padding-top: 25px;  color: #2c241e; font-size: 14px;background: url(../images/testimonial2.png) 10px 0px no-repeat;}
.testimonial1 .txt2 a{color: #ad4c22;}

.bot2{background: #3D52D5; padding-top: 30px; padding-bottom: 20px;  font-family: 'Asap';}

footer{padding-top: 10px;}
.copyright{line-height: 20px; color: #c8c8c8; padding-bottom: 15px; padding-top: 10px;}
.copyright2{line-height: 20px; color: #c8c8c8;}
.copyright2 a{color: #ae9478;}

.bot2_title{font-family: 'Asap'; font-weight: 400; font-size: 20px; line-height: 20px; color: #a7958a; padding-top: 20px; padding-bottom: 20px;}

.phone2{}
.phone2 .txt1{color: #c8c8c8;}
.phone2 .txt2{color: #da9000; font-size: 30px; line-height: 30px;}

.social_wrapper{ padding-top: 4px;}
.social{ display: inline-block; margin: 0 0px; padding-top: 0px; list-style: none; white-space: nowrap;}
.social li{display: inline-block; margin: 0 3px; float: left;}
.social li a img{opacity: 1; filter: alpha(opacity=100);}
.social li a:hover img{opacity: 0.7; filter: alpha(opacity=70);}




/* ============================= main menu ====================== */
.navbar_ { margin-left: auto;margin-right: auto;width: 75%; padding: 0; background: none; position: relative;z-index: 30;}
.navbar_ .navbar-inner_ { padding: 0; margin: 0; border: none; min-height: inherit; background: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none; filter:none; }
.navbar_ .btn-navbar { background: #3D52D5; border: none;box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none; margin-top: 14px; margin-bottom: 13px;}
.navbar_ .btn-navbar:hover{background: #71461f;}
.navbar_ .btn-navbar .icon-bar{background-image: none;}
.nav-collapse_.collapse{ position:relative; display:block; text-align: center;}
.navbar_ .nav{ position: relative; float: none; margin: 0; padding: 0; display: block; left: auto; }
.navbar_ .nav > li{position: relative; display: block; float: left; padding-left: 2px; white-space: nowrap; background: url(../images/marker0.png) 0 0 no-repeat;}
.navbar_ .nav > li:first-child{}
.navbar_ .nav > li.last{height: 54px; width: 0;}
.navbar_ .nav > li > a{display: block; text-decoration: none; background: none; font-family: 'Asap'; font-weight: 700; font-size: 16px; line-height: 54px; color: #9c825e; text-shadow:none; padding: 0px 25px; border: none; margin: 0; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; text-transform: uppercase;
transition: color 0.3s ease-out; -moz-transition: color 0.3s ease-out; -webkit-transition: color 0.3s ease-out; -o-transition: color 0.3s ease-out;
}
.navbar_ .nav > li.active > a, .navbar_ .nav > li.active > a:hover, .navbar_ .nav > li.active > a:focus, .navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{color: #cfbda6; text-decoration: none; background: url(../images/nav.png) 0 0 repeat;  box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none;}

.sub-menu ul { position: absolute; display: none; left: 2px; top: 54px; list-style: none; zoom: 1; z-index: 109; margin: 0; padding:0px; background: url(../images/submenu.jpg); text-align: left; }
.sub-menu li { margin: 0; position: relative; zoom: 1; display: block; border-top: 1px solid #55402e; border-bottom: 1px solid #36271a;}
.sub-menu li a{display: block; position: relative; font-family:'Asap'; font-weight: 700; font-size: 16px; line-height: 20px; color: #9c825e; text-decoration: none; padding: 11px 25px; text-transform: uppercase;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.sub-menu li a:hover{ text-decoration: none; color: #cfbda6;}

.sub-menu li a em{display: inline-block; width: 7px; height: 10px; background: url(../images/marker1.png) left top no-repeat; position: absolute; right: 8px; top: 50%; margin-top: -5px;}
.sub-menu li a:hover em{background-position: bottom;}

.sub-menu-1 > ul{}

.sub-menu-2 > ul{left: 100%; top: -8px; margin-left: 9px; background: #181311;}

/* ============================= menu bot ====================== */
.menu_bot { display:inline-block; float: left; position: relative; z-index:10; text-align:center; white-space:nowrap; padding-top: 20px; }
#menu_bot { list-style: none; display:inline-block; white-space:nowrap;  padding: 0; margin: 0;}
#menu_bot > li { list-style: none; display: inline-block; height:24px; line-height: 24px; margin-left: 35px; position:relative; float:left; white-space:nowrap;}
#menu_bot > li:first-child{ margin-left: 0;}
#menu_bot > li > a{ display:block; height:100%; text-decoration:none; position:relative; font-family:'Sancreek'; font-weight: 400; font-size: 15px; color: #ece1d7;}
#menu_bot > li.active > a, #menu_bot > li > a:hover, #menu_bot > li > a:focus{color: #faa709; text-decoration: none;}

/* ============================= search-form ====================== */
.search-form-wrapper{}
.navbar-form { float: left; position:relative; z-index: 11; margin:0px 0px 0 0 ; padding: 0; }
.navbar-form input { width: 160px; height: 20px; font-size: 14px; line-height: 20px; color:#827b6c; background: #1b140f; border: none; border-bottom: 1px solid #505050; margin: 0; padding: 10px 50px 10px 10px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -moz-box-shadow: inset  0px 3px 20px 3px  #1b140f; -webkit-box-shadow: inset  0px 3px 20px 3px  #1b140f; box-shadow: inset  0px 3px 20px 3px  #1b140f; }
.navbar-form input:focus {color: #fff; border-color: #898989;-moz-box-shadow: inset  none; -webkit-box-shadow: none; box-shadow: none;}
.navbar-form a {text-decoration: none; margin: 0; display: inline-block; border-left: none; width: 42px; height: 28px; background: url(../images/search.png) left top no-repeat; position:absolute; right:0; top: 7px; }
.navbar-form a:hover { background-position: right;}

/* ============================= toTop ====================== */
#toTop { display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; z-index: 1000; overflow:hidden; width:50px; height:50px; border:none; text-indent:100%; background:url(../images/totop.gif) no-repeat left top; }
#toTopHover { background:url(../images/totop.gif) no-repeat left bottom; width:50px; height:50px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }

/* ============================= main layout ====================== */
h1{ font-family:'Asap'; font-weight:700; font-size:28px; color:#48413b; line-height:30px; padding:20px 0 15px 0; margin: 0 0 15px 0; position: relative;}
h1 span{font-size: 18px; font-weight: 400; line-height: 20px;}

h2{ font-family:'Asap'; font-weight:700; font-size:24px; color:#48413b; line-height:25px; padding:25px 0 15px 0; margin: 0 0 15px 0; position: relative;}





h6{ font-family:'Asap'; font-weight:400; font-size:20px; line-height: 25px; color:#48413b; padding:0px 0 10px 0; margin: 0px 0px 0px 0px;}


h1.w1 b, h2.w1 b{width: 220px; height: 2px; background: #ad4c22; position: absolute; left: 0; bottom: 0;}
h1.w2 b, h2.w2 b{width: 140px; height: 2px; background: #ad4c22; position: absolute; left: 0; bottom: 0;}



.upper { text-transform:uppercase;}

.color1{ color:#fff;}

.line1 { height:1px; background:#b9b2a2; margin:5px 0;}

.radius1{border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

.pad_bot1{padding-bottom: 20px;}


/* === */

.button2{display: inline-block; text-decoration: none; height: 46px;line-height: 46px; text-align: center; padding: 0 20px; background: #ad4c22; font-family: 'Asap'; font-weight: 700; font-size: 18px; color: #ffc64b; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.button2:hover{background: #d87f00; color: #fff;}

.ul1{ padding: 0; margin: 0; list-style: none;}
.ul1 > li { padding:3px 0px 3px 20px; margin: 0px 0px 0px 0px; line-height: 20px; color: #665343;background: url(../images/li_st1.png) 0 9px no-repeat; text-transform: uppercase;}
.ul1 > li a{color:#ad4c22; text-decoration: underline; }
.ul1 > li a:hover{color:#ad4c22; text-decoration: none; }
.ul1 > li p{text-transform: none;}
.ul1 > li p a{text-transform: uppercase;}

.breadcrumbs1{padding: 0px 0; line-height: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: white;}
.breadcrumbs1 a{color: #e9ded0;}
.breadcrumbs1 a:hover{color: #fff;}

.date1{padding-bottom: 20px;}
.date1 .txt1{display: inline-block; float: left; font-size: 24px; line-height: 55px; color: #ffc64b; text-align: center; font-weight: bold; width: 55px; height: 55px; background: #ac4f26; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin-right: 20px;}
.date1 .txt2{display: table;}

.ul2{ padding: 0; margin: 0; list-style: none;}
.ul2 > li { padding:0; margin: 0px 0px 4px 0px;}
.ul2 > li .txt1{vertical-align: top; display: block; float: none; margin-right: 64px; line-height: 20px; color: #1f1812; background: #ded1c1;padding:7px 10px 7px 15px;}
.ul2 > li .txt2{vertical-align: top; display: block; float: right;overflow: hidden;  width: 60px; text-align: center; line-height: 20px; font-size: 15px; font-weight: 700; color: #ad4c22; background: #ded1c1; padding: 7px 0;}

.testimonial_title{font-family: 'Asap'; font-weight: 700; font-size: 24px; line-height: 26px; text-transform: uppercase; color: #534238; padding-bottom: 15px;}

.testimonial1_wrapper{padding-bottom: 30px;}

.google_map{ position: relative; overflow: hidden; margin: 0 0 20px 0; padding: 0px; background: #fff; border: none;line-height: 1px;}
.google_map iframe{position: relative; width: 100%; height: 400px; border: none;}



/* ============================= thumbnail ====================== */
.img-polaroid{position: relative; padding: 5px; background: #e7e0d7; border: 1px solid #c4bdab;box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none;}
.img-rounded img{position: relative; padding: 0; background: none; border: none;box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.thumbnail .caption{padding: 0; color: #1f1812}

.thumb1 {margin-bottom: 20px;}
.thumb1.last {margin-bottom: 0px;}
.thumb1 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none;}
.thumb1 figure{margin: 0; float: left; margin:0px 20px 20px 0px;}
.thumb1 figure img{width: auto;}
.thumb1 .caption{}

.thumb2 {margin-bottom: 20px;}
.thumb2.last {margin-bottom: 0px;}
.thumb2 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none;}
.thumb2 .thumbnail a{display: block; text-decoration: none; background: #f9f4ee; border-bottom: 5px solid #d7c8b5;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.thumb2 .thumbnail a:hover{border-color: #d87f00;}
.thumb2 .thumbnail a figure{margin: 0; float: none; margin:0px 0px 20px 0px; }
.thumb2 .thumbnail a figure img{width: 100%;border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0;}
.thumb2 .thumbnail a .caption{ text-align: center;padding: 0 25px 20px;}
.thumb2 .thumbnail a .caption .txt1{font-family: 'Asap'; font-size: 22px; line-height: 26px; font-weight: 700; font-style: italic; color: #ad4c22; padding-bottom: 5px;}
.thumb2 .thumbnail a:hover .caption .txt1{color: #d87f00;}
.thumb2 .thumbnail a .caption .txt2{font-size: 13px; line-height: 20px; color: #ad4c22; padding-bottom: 5px;}
.thumb2 .thumbnail a:hover .caption .txt2{color: #d87f00;}
.thumb2 .thumbnail a .caption .txt3{color: #7c6e62; padding-bottom: 15px;}
.thumb2 .thumbnail a:hover .caption .txt3{color: #1f1812;}
.thumb2 .thumbnail a .caption .txt4{display: inline-block; background: #ad4c22; font-family: 'Asap'; font-size: 14px; font-weight: 700; color: #ffc64b; padding: 8px 20px;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.thumb2 .thumbnail a:hover .caption .txt4{color: #fff; background: #d87f00;}









.thumb-isotope {}
.thumb-isotope .thumbnail{padding: 0px; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none; }
.thumb-isotope .thumbnail a{position: relative;  display: block; text-decoration: none; padding: 0px;background: #f9f4ee;border-bottom: 5px solid #d7c8b5;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb-isotope .thumbnail a:hover{border-color: #d87f00;}
.thumb-isotope .thumbnail a figure{position: relative; margin: 0; float: none; margin:0px 0px 0px 0px; padding: 0; background: none; border: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb-isotope .thumbnail a:hover figure{background: #965f7c;}
.thumb-isotope .thumbnail a img{width: 100%;border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0;}
.thumb-isotope .thumbnail a em{position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 2; background: url(../images/photo1.png) center center no-repeat; opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb-isotope .thumbnail a:hover em{opacity: 1; filter: alpha(opacity=100);}
.thumb-isotope .thumbnail a .caption{  color: #7c6e62; line-height: 20px; padding: 15px 0; text-align: center; 
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb-isotope .thumbnail a:hover .caption{color: #ac5028;}





/* ============================= accordion ====================== */
.accordion{ margin-bottom: 20px;}
.accordion-group{ margin-bottom: 2px; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.accordion-heading{border-bottom: 0;}
.accordion-heading .accordion-toggle{text-decoration: none; display: block; padding: 12px 12px 12px 50px;cursor: pointer; font-size: 16px; line-height: 22px; font-weight: bold; color: #faf7eb; background: url(../images/accordion1.jpg) 12px 11px no-repeat #533214;}
.accordion-heading .accordion-toggle:hover{ text-decoration: none; color: #faa709; background: url(../images/accordion1_over.jpg) 12px 11px no-repeat #6d4826;}
.accordion-inner{ background: #f6f2e2; border-top: none; padding: 10px 15px;}





/*================= Contacts =========================*/
#note{ }
.notification_error{ color:#f00; padding-bottom:10px; }
.notification_ok{ text-align: left; padding-bottom:10px; } 

#ajax-contact-form .control-group{margin-bottom: 10px;}
#ajax-contact-form .control-label{display: none;}
#ajax-contact-form .controls{margin-left: 0;}
#ajax-contact-form input, #ajax-contact-form textarea{background: #cbbeaf; border: 1px solid #b29e86; color: #1f1812; padding-top: 10px; padding-bottom: 10px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -moz-box-shadow: inset  0px 3px 20px 3px  #c1b5a7; -webkit-box-shadow: inset  0px 3px 20px 3px  #c1b5a7; box-shadow: inset  0px 3px 20px 3px  #c1b5a7;}
#ajax-contact-form input:focus, #ajax-contact-form textarea:focus{border-color:#7b6750; }
#ajax-contact-form textarea{height: 124px;}
#ajax-contact-form .control-group.capthca{margin-bottom: 0px;}
#ajax-contact-form .capthca input{width: 156px; float: left; margin-right: 30px;margin-bottom: 10px;}
#ajax-contact-form img{float:left; width:170px; height:42px;margin-bottom: 10px;}
#ajax-contact-form .submit{display:inline-block; line-height:46px;  text-decoration: none; margin-top:10px; margin-bottom:10px; font-size:18px; font-family:'Asap'; font-weight: 700; color:#ffc64b; white-space:nowrap; letter-spacing:0px; background:#ad4c22; padding:0 20px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; text-transform: uppercase; border: 0;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
#ajax-contact-form .submit:hover{background: #d87f00; color: #fff;}


/*================= 404 =========================*/
.page-404{text-align: center;}
.page-404 .txt1{font-family:'Asap'; font-weight:700; font-size:220px; color:#48413b; line-height:220px; }
.page-404 .txt2{font-family:'Asap'; font-weight:400; font-size:70px; color:#48413b; line-height:70px; }





/*----- media queries ------*/
/* Large desktop */
@media (min-width: 1200px) {
	.banners .banner_inner a{height: 270px;}
	.banners .banner_inner a .txt{width: 160px; position: absolute; left: 30px; top: 30px; z-index: 2;}
	.main .banners .banner1{padding-bottom: 30px;}

	#slider3 .carousel.main{width: 990px;}

	.navbar-form input { width: 210px;}


	
}
/* Default landscape and desktop to large desktop */
@media (max-width: 1199px) {
	
}
@media (min-width: 980px) and (max-width: 1199px) {
	
	
}
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {	


	
}
@media (min-width: 768px) and (max-width: 979px) {

	.nav-collapse_.collapse{height: auto!important; overflow: visible!important;}
	.navbar_ .btn-navbar{display: none;}

	.navbar_ .nav > li > a{padding: 0 13px;}

	.sub-menu li a{padding: 11px 13px;}

	.banners .banner_inner a{height: 166px;}
	.banners .banner_inner a .txt{width: 140px; position: absolute; left: 10px; top: 10px; z-index: 2;}
	.main .banners .banner1{padding-bottom: 20px;}

	.banners .banner_inner a .txt .txt2{display: none;}

	.slogan1 .block1 .txt1{font-size: 16px; line-height: 26px;}	

	.button1{font-size: 18px;}

	#slider3 .carousel.main{width: 620px;}

	.bot1 .bot1_block1 .txt1{font-size: 20px;}

	.navbar-form input { width: 100px;}

	.testimonial_title{font-size: 20px;}



	
	
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {	
	body{padding-left: 0; padding-right: 0;}
	.container{width: 440px;}

	.top1{text-align: center;}

	header{float: none;padding-bottom: 0px;}
	.phone1{float: none;}
	
	.navbar_ .nav{display: block; background-color: #000080;}
	.navbar_ .nav > li{float: none; padding-left: 0; background: none; border-bottom: 1px solid #361907;}
	.navbar_ .nav > li.last{display: none;}
	.sub-menu ul{position: relative; left: 0; top: 0;}

	#slider_wrapper{margin-bottom: 0px;}

	.banners .banner_inner a{height: 160px;}
	.banners .banner_inner a .txt{width: 250px; position: absolute; left: 20px; top: 20px; z-index: 2;}
	.main .banners .banner1{padding-bottom: 0px;}
	.banners .banner{padding-top: 20px;}
	.subpage .banners .banner:first-child{padding-top: 0px;}

	.slogan1 .block1 .txt1{padding-top: 0;}

	#slider3 .carousel.main{width: 460px;}

	.bot1 .bot1_block1{padding-bottom: 20px;}

	.navbar-form input { width: 380px;}

		
}
@media (min-width: 481px) and (max-width: 767px) {


	
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.container{width: 300px;}

	.banners .banner_inner a .txt{width: 170px; position: absolute; left: 20px; top: 20px; z-index: 2;}

	#slider3 .carousel.main{width: 320px;}

	.navbar-form input { width: 240px;}

	.thumb1 figure{float: none; margin-right: 0;}
	.thumb1 figure img{width: 100%;}

	.google_map iframe{height: 300px;}

	.page-404 .txt1{font-size: 150px; line-height: 150px;}
	.page-404 .txt2{font-size: 50px; line-height: 50px;}
	
}